.formContainer {
  max-width: 350px;
  align-items: center;
  margin: auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-top: 12rem;
}

.tituloRegistro {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.inputField {
  margin-bottom: 1rem;
}

.selectField {
  margin-bottom: 1rem;
}

.botaoRegistrar {
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
}
